@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PNU';
  src: url('assets/fonts/ArbFONTS-PNU-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'PNU';
  src: url('assets/fonts/ArbFONTS-PNU-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'PNU';
  src: url('assets/fonts/ArbFONTS-PNU-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'PNU';
  src: url('assets/fonts/ArbFONTS-PNU-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  --main-color: #15254b;
  --secondary-color: #ed1c24;
  --input-border-color: #15254b33;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PNU';

  font-style: normal;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  height: 100%;
}

.navbar {
  height: 60px;
  padding: 50px 0 !important;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-left: 24px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.nav-elements ul a.active {
  color: var(--secondary-color);
  font-weight: 500;
  position: relative;
}
.nav-btn {
  border-radius: 100vw;
  padding: 12px 30px;
  color: white !important;
  background-color: var(--secondary-color);
}
.nav-btn img {
  position: relative;
  left: 0;
  transition: 0.3s ease-out;
}
.nav-btn:hover > img {
  left: -5px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 15% !important;
  right: 0 !important;
  left: auto !important;
  text-align: start;
  padding: 0 50px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px !important;
  width: 11px;
  height: 11px;
  background-color: transparent;
  opacity: 1;
  border: white 1px solid;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
  box-shadow: 0 0 10px 2px white;
}
.swiper-slider-home-page::after {
  content: 'sss';
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  position: absolute;
  background: rgb(112, 147, 196);
  background: linear-gradient(
    90deg,
    rgba(112, 147, 196, 0) 0%,
    rgba(21, 37, 75, 1) 100%
  );
  z-index: -1;
}

.swiper-slider-home-page .line {
  width: 165px;
  height: 12px;
  background: url('../src/assets/icons/line.svg');
  border-radius: 10% 70% 70% 10% / 90% 10% 10% 90%;
}
.popup-slider {
  transition: 0.3s ease-out;
  position: relative;
  transition: 0.3s ease-out;
}
.popup-slider::after {
  border-right: 3px solid rgba(0, 0, 255, 0);
  border-bottom: 3px solid transparent;
  content: '';
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;

  border-radius: 7px;
  rotate: 225deg;
  transition: 0.3s;
}
.popup-slider:hover {
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}
.popup-slider:hover > div > .mr-[auto] {
  position: relative;
  left: 10px;
}
.popup-slider:hover:after {
  bottom: -10px;
  left: 10px;
  border-top: 10px solid var(--secondary-color);
  border-left: 10px solid var(--secondary-color);
  border-right: 10px solid rgba(0, 0, 255, 0);
  border-bottom: 10px solid transparent;
}

@media (max-width: 991px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    width: 30px;
  }
  .menu-icon img {
    width: 100%;
  }

  .nav-elements {
    z-index: 2000000;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: white;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
    box-shadow: 0 2px 3px 0 black;
    padding: auto 20px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    display: block !important;
    margin-top: 22px;
    margin-right: 30px;
  }
  .nav-elements a.active {
    width: 100%;
    display: block;
    padding: 7px 0;
    border-bottom: 1px solid var(--secondary-color);
  }
  .nav-btn {
    justify-content: center;
    margin-top: 22px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.section-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.section-header h1 {
  color: var(--secondary-color);
  position: relative;
  width: fit-content;
  padding: 0 15px;
  font-size: 20px;
}

.section-header h1::after {
  content: '';
  height: 20px;
  width: 100%;
  background-color: transparent;
  border-left: 2px solid white;
  border-right: 2px solid white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.section-header p {
  font-size: 32px;
  color: var(--main-color);
  font-weight: 400;
}
.section-header.light p {
  color: white;
}
/* inputs */
.input-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  height: fit-content;
  position: relative;
  label {
    font-size: 16px;
    color: var(--text-main-color);
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.3s;
  }
  input,
  textarea,
  select {
    all: unset;
    border-radius: 5px;
    color: var(--text-main-color);
    font-size: 16px;
    padding: 10px 12px;
    border: 1px solid var(--input-border-color);
    background: var(--table-row-color);
    transition: 0.3s;
  }
  input[name='image'] {
    display: none;
  }

  input[name='image'] + label {
    border-radius: 5px;
    border: 2px solid rgba(15, 98, 254, 0);
    padding: 5px 35px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    background: var(--btn-color);
  }
  .img-holder {
    width: 197px;
    height: 197px;
    overflow: hidden;
    margin: 15px auto;
    border-radius: 50%;
    img {
      width: 100%;
      min-height: 100%;
    }
  }

  .icon {
    position: absolute;
    left: 20px;
    bottom: 8px;
  }
}
